<ion-header>
  <ion-toolbar>
    <ion-title>
      Expenses App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br>
    <section>
      <header>
        Total expenses value
      </header>
      <h1>£{{photoService.total}}</h1>
      <p>Welcome to the fancy expenses tracker. To track your exepnses, simply head to the middle tab where you can upload a picture of your recipt and 
        track the cost. Head to the gallery to see all your stored expenses.
      </p>
    </section>
</ion-content>
